<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810802692238-0t0nl3ij3r2tdp5l12705ooh059413q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810802692238-0t0nl3ij3r2tdp5l12705ooh059413q6</string>
	<key>API_KEY</key>
	<string>AIzaSyCBEN482IJU66m1Sg1-vGiiVfwlOrgUV3w</string>
	<key>GCM_SENDER_ID</key>
	<string>810802692238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tara.betaapp</string>
	<key>PROJECT_ID</key>
	<string>tara-production</string>
	<key>STORAGE_BUCKET</key>
	<string>tara-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810802692238:ios:426f1508b637bb86a7c9df</string>
	<key>DATABASE_URL</key>
	<string>https://tara-production.firebaseio.com</string>
</dict>
</plist>