<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54007076081-naglk75b8d7gcvgsn4orvbl2t8boekoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54007076081-naglk75b8d7gcvgsn4orvbl2t8boekoe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>54007076081-96ppee2rf47m38ko9p3h97alt9213onn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCoD6Kx9JgRbePKiVYDPzaCCMwJBTaMmk</string>
	<key>GCM_SENDER_ID</key>
	<string>54007076081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tara.app</string>
	<key>PROJECT_ID</key>
	<string>tara-fcaf4</string>
	<key>STORAGE_BUCKET</key>
	<string>tara-fcaf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54007076081:ios:834d140f27cd712d5e4550</string>
	<key>DATABASE_URL</key>
	<string>https://tara-fcaf4-default-rtdb.firebaseio.com</string>
</dict>
</plist>