<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArabianTyres.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
				<key>dateExpires</key>
				<string>24/02/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>InputBarAccessoryView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MessageKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>04F2EB8BF2B4EF35CB4DEB629F20B22B02F14152</string>
						<key>dateExpires</key>
						<string>24/02/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23FC5W285E</string>
						<key>name</key>
						<string>Peeyush Singh</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>23FC5W285E.com.tara.beta</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>23FC5W285E</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ArabianTyres.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cbfb0cac-e7e7-4c7f-9cc4-603af9a11d61</string>
				<key>name</key>
				<string>Tara App Dist Beta</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>23FC5W285E</string>
				<key>name</key>
				<string>Peeyush Singh</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
